<div class="home-page">
  <div #rendererContainer id="rendererContainer">

  </div>
<!--  <div class="marquee">-->
<!--    <span class="text">front-end developer</span>-->
<!--  </div>-->
<!--  <div class="marquee2">-->
<!--    <span class="text2">Hi, I'm Olga and I'm developing your sites. Tell me about your idea and I will design its mechanical heart.</span>-->
<!--  </div>-->
  <div class="marquee">
    <span class="text"> front-end developer&nbsp; </span>
    <span class="text"> front-end developer&nbsp; </span>
    <span class="text"> front-end developer&nbsp; </span>
  </div>
  <div class="box">
    <div>
      <span class="glitch">Hi, I'm Olga</span>
      <span>and I'm developing your sites. Tell me about your idea and I will design its mechanical heart.</span>
    </div>
  </div>
  <p></p>
</div>
