<footer>
  <div class="flex">
    <div class="footer-header">
      <div class="wave-text">
        <h3 class="line">The end</h3>
      </div>
      <div class="wave-text">
        <h2 class="line">Thank you for viewing my portfolio!</h2>
      </div>
    </div>
    <div class="footer-info">
      <div class="developer flex">
        <div class="footer-title">
          <div class="wave-text">
            <h3 class="line">Developer</h3>
          </div>
          <div class="move-text">
            <p class="name line">Olga Shytyleva</p>
          </div>
        </div>
        <div class="contact">
          <div class="wave-text">
            <h3 class="line">Contact</h3>
          </div>
          <div class="wave-text">
            <a class="line">0 97 000 00 00</a>
          </div>
          <div class="wave-text">
            <a class="line">pochta@gmail.com</a>
          </div>
          <div class="wave-text">
            <a class="line">githab.com</a>
          </div>
          <div class="wave-text">
            <a class="line">linkedin</a>
          </div>
          <div class="wave-text">
            <a class="line">Telegram</a>
          </div>
        </div>
      </div>
      <div class="designer flex">
        <div class="footer-title">
          <div class="wave-text">
            <h3 class="line">Designer</h3>
          </div>
          <div class="move-text">
            <p class="name line">Vladislav Kiyan</p>
          </div>
        </div>
        <div class="contact">
          <div class="wave-text">
            <h3 class="line">Contact</h3>
          </div>
          <div class="wave-text">
            <a class="line">vlakiyn@gmail.com</a>
          </div>
          <div class="wave-text">
            <a class="line">linkedin</a>
          </div>
          <div class="wave-text">
            <a class="line">Telegram</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <p>© Olga-Shutyleva 2023</p>
  </div>
</footer>
