<div class="about-container">
  <div class="about">
    <div class="wave-text anim-element">
      <h3 class="line">About me</h3>
    </div>
    <div>
      <p class="wave-text about-me">
      <span *ngFor="let word of aboutMe.split(' ')" class="line" style="white-space: pre;">
        {{ word }}
      </span>
      </p>
      <p class="wave-text about-me">
      <span *ngFor="let word of aboutMeTwo.split(' ')" class="line" style="white-space: pre;">
        {{ word }}
      </span>
      </p>
    </div>
  </div>
  <div class="educations">
    <div class="wave-text anim-element">

      <h3 class="line">EDUCATION</h3>
    </div>
    <div class="education">
      <p class="wave-text">
        <span *ngFor="let word of educationRailway.split(' ')" class="line" style="white-space: pre;">
          {{ word }}
        </span>
      </p>
      <p class="wave-text">
        <span *ngFor="let word of educationKarazin.split(' ')" class="line" style="white-space: pre;">
          {{ word }}
        </span>
      </p>
      <p class="wave-text">
        <span *ngFor="let word of educationHashtag.split(' ')" class="line" style="white-space: pre;">
          {{ word }}
        </span>
      </p>
      <p class="wave-text">
        <span *ngFor="let word of educationUdemy.split(' ')" class="line" style="white-space: pre;">
          {{ word }}
        </span>
      </p>
    </div>
  </div>
</div>
