<div class="about">
  <h3>About me</h3>
  <p>Hello, my name is Olga Shutyleva. I am a frontend developer. Last year I studied at the Hashtag Academy school as a front-end developer. I am looking for an entry level position in a company to be hardworking, learn, grow and develop in the long term. Please see my CV, see my skills and some of my work.</p>
</div>
<div class="education">
  <h3>EDUCATION</h3>
  <ul>
    <li>- Ukrainian state university of railway transport, educational program: "Network technologies and computer equipment"</li>
    <li>- V. N. Karazin Kharkiv National University, educational program: "Management of Financial and Economic Security" </li>
    <li>- "Hashtag academy", educational program: "Front-end developer"</li>
    <li>- "Udemy", educational program: "Angular 9"</li>
  </ul>
</div>
