h2 {
    font-size: 128rem;
    line-height: 171rem;
}
.marquee {
    width: 100%;
    padding-bottom: 71px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    position: relative;
}
.text-line {
    overflow: hidden;
    white-space: nowrap;
}
.marquee span {
    font-size: 210rem;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    animation: marquee 4s linear infinite;
    pointer-events: none;
}
.hover-image {
    position: absolute;
    max-width: 480rem;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease; /* Добавлено свойство transition для плавной анимации */
    border-radius: 18px;
    pointer-events: none;
    transition-timing-function: ease-in-out;
    will-change: transform;
}

.marquee:hover .hover-image {
    opacity: 1;
}

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}
