<div class="container">
  <div class="portfolio-header">
    <div class="wave-text">
      <h3 class="line">Me</h3>
    </div>
    <div class="wave-text">
      <h2 class="line title">I look like this</h2>
    </div>
  </div>
</div>

<div class="marquee"
     (mouseenter)="isHovered = true"
     (mouseleave)="isHovered = false"
     (mousemove)="moveImage($event)"
>
  <div class="text-line">
    <span class="text"> How?&nbsp; </span>
    <span class="text"> How?&nbsp; </span>
    <span class="text"> How?&nbsp; </span>
    <span class="text"> How?&nbsp; </span>
  </div>
  <img class="hover-image"
       [style.transform]="'translate(' + imageX + 'px, ' + imageY + 'px)'"
       src="assets/myPhoto.jpg"
       alt="">

</div>
<!--[style.transition]="'transform ' + transitionDuration + ' ease'"-->
<!--[style.transition-duration]="transitionDuration"-->
