.technology-header h2  {
    font-size: 128rem;
    line-height: 145rem;
    letter-spacing: -0.02em;
}
.technology-header p {
    font-weight: 500;
    font-size: 28rem;
    line-height: 34rem;
}
.flex {
    justify-content: space-between;
    align-items: center
}
.git a {
    font-weight: 500;
    font-size: 32rem;
    line-height: 39rem;
    color: white;
    text-decoration: none;
}
.skills {
    padding: 109rem 0;
    position: relative;
    overflow: hidden;
}
h4 {
    font-size: 96rem;
    line-height: 116rem;
}
.skill-card {
    margin-bottom: 40rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.2);
}

.skill-items {
    margin: 0 auto;
    max-width: 70%;
}
/*.skill-card.active {*/
/*    !*color: white;*!*/
/*}*/
.skill-card li {
    font-size: 14rem;
    line-height: 17rem;
}
.skill-card {
    position: relative;
}

.skill-card.active {
    color: white;
}
.skill-items {
    list-style: none;
    padding: 0;
}

.skill-card .line {
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
    position: relative;
    overflow: hidden;
    white-space: nowrap;

}
.mask-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    font-size: 30rem;
}
.mask-start, .mask-end {
    transition: height .5s ease-in-out;
    background: rgba(0,0,0, 0.8);
}
/*@media only screen and (max-width: 768px) {*/
/*    .ListItem {*/
/*        font-size: 24px;*/
/*        color: white;*/
/*        -webkit-text-stroke: 0px;*/
/*    }*/
/*}*/

/*.skill-card .line::after {*/
/*    content: attr(data-text);*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    height: 0;*/
/*    overflow: hidden;*/
/*    white-space: nowrap;*/
/*    !*transition: height 0.5s linear, color 0.5s linear;*!*/
/*}*/

/*.skill-card.active .line::after {*/
/*    height: 100%;*/
/*    color: white;*/
/*}*/

/*@keyframes moveTextIn {*/
/*    from {*/
/*        height: 0;*/
/*    }*/
/*    to {*/
/*        height: 100%;*/
/*    }*/
/*}*/

/*@keyframes moveTextOut {*/
/*    from {*/
/*        height: 100%;*/
/*        color: white;*/
/*    }*/
/*    to {*/
/*        height: 0;*/
/*        color: gray;*/
/*        top: 100%;*/
/*    }*/
/*}*/

/*.skill-card:not(.active) .line::after {*/
/*    animation: moveTextOut .3s linear both;*/
/*}*/

/*.skill-card.active .line::after {*/
/*    animation: moveTextIn .3s linear both;*/
/*}*/







