<div class="flex">
  <div class="technology-header">
    <div class="wave-text">
      <h3 class="line">Technology</h3>
    </div>
    <div class="wave-text">
      <h2 class="line title">Tools I Use</h2>
    </div>
    <div class="wave-text">
      <p class="line">For more information, here is the link to the github.</p>
    </div>
  </div>
  <div class="git wave-text">
    <a class="line" href="https://github.com/shytuleva24">Github   🡒</a>
  </div>
</div>
<div class="skills">
  <div class="skill-card scroll-block" *ngFor="let block of blocks; let i = index" [ngClass]="{ 'active': block.isActive }" [id]="'block-' + i">
    <div class="wave-text">
      <h4 class="line" [attr.data-text]="block.title">{{ block.title }}</h4>
    </div>
    <ul class="skill-items flex wave-text">
      <li class="line" *ngFor="let skill of block.skills" [attr.data-text]="skill">{{ skill }}</li>
    </ul>
  </div>
</div>

