.technology-header h2  {
    font-size: 7vw;
    line-height: 150%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}
.technology-header p {
    font-weight: 500;
    font-size: 1.5vw;
    line-height: 150%;
}
.technology-header {
    width: 73vw;
    margin-left: auto;
}
.flex {
    justify-content: space-between;
    align-items: center
}
.git a {
    padding-right: 6vw;
    font-weight: 500;
    font-size: 1.9vw;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}
.skills {
    margin: 109rem 0;
    position: relative;
}
h4 {
    font-size: 5vw;
    line-height: 150%;
    font-weight: 400;
}
.skill-card {
    padding-bottom: 40rem;
    text-align: center;
}

.skill-items {
    margin: 0 auto;
    max-width: 60vw;
}

.skill-card li {
    font-size: 1vw;
    line-height: 150%;
}
.skill-card {
    position: relative;
}

.skill-items {
    list-style: none;
    padding: 0;
}

.skill-card .line {
    cursor: pointer;
    margin: 0 auto;
    white-space: nowrap;

}
.active-text {
    position: absolute;
    left: 0;
    width: 100%;
    transition: top .5s ease-in-out;
}
.mask-active {
    position: absolute;
    width: 100%;
    overflow: hidden;
    transition: top .5s ease-in-out;
}
.opacity-text {
    color: rgba(255, 255, 255, .2);
}
.active-text {
    color: white;
}


@media (max-width: 650px) {
    .technology-header h2 {
        font-weight: 400;
        font-size: 58px;
        line-height: 114%;
        letter-spacing: -0.02em;
        color: #FFFFFF;
    }
    .technology-header {
        width: 100%;
        display: block;
    }
    .technology-header p {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0;
        padding-bottom: 20rem;
    }
    h4 {
        font-weight: 400;
        font-size: 37px;
        line-height: 95%;
        padding-bottom: 20rem;
    }
    .skill-card li {
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: -0.05em;
    }
    .skill-items {
        margin: 0 auto;
        max-width: 100%;
    }
}





