h2 {
    font-weight: 500;
    font-size: 6.7vw;
    line-height: 150%;
    text-transform: uppercase;
}
.portfolio-content {
    padding: 4vw;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 8vw;
    align-items: flex-start
}
.card {
    background: #A3A3A3;
    border-radius: 18px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    filter: grayscale(100%);
    background-size: 140%;
    transition: background-size .5s ease, filter .5s ease, transform .01s linear;
    transform: translate3d(0, 80px, 0px) rotate(0deg);
}

.card.right {
    transform: translate3d(100px, 80px, 0px) rotate(-4deg);
}
.card.left {
    transform: translate3d(-100px, 80px, 0px) rotate(4deg);
}
.card a {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.card:hover {
    filter: grayscale(0%);
    background-size: 145%;
    transition: background-size .5s ease, filter .5s ease;
}
.about-card {
    position: absolute;
    bottom: 0;
}
.name-project {
    font-size: 2.6vw;
    line-height: 120%;
    padding-bottom: 10rem;
}

.use-scills {
    font-weight: 500;
    font-size: 1vw;
    line-height: 120%;
    text-transform: uppercase;
}

.content-card {
    position: absolute;
    top: 32rem;
    left: 32rem;
    right: 32rem;
    bottom: 32rem;
}
.title-card {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2vw;
    line-height: 22rem;
}
.card .button {
    position: relative;
    width: 40px;
    height: 40px;
}
.button img {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
}

.card:hover .but {
    opacity: 0;
}


.card .flex {
    justify-content: space-between
}

.line.left {
    transform: translateX(-2vw) rotate(2deg);
}
.line.right {
    transform: translateX(2vw) rotate(-2deg);
}

@media (max-width: 650px) {
    .portfolio-content {
        padding: 0 0 158rem;
    }
    .card {
        width: 100% !important;
        height: 230px !important;
        background-position: center !important;
        background-size: cover !important;
    }
    .content-card {
        top: 8rem;
        left: 8rem;
        right: 8rem;
        bottom: 8rem;
    }
    .card .button  {
        width: 10px;
        height: 10px;
    }
}
