<!--<div-->
<!--        class="loader"-->
<!--        [ngClass]="{'loaded': loadingService.loadingProgress >= 100, 'loading': loadingService.loadingProgress < 100}"-->
<!--&gt;-->
<!--  <p>{{ loadingService.loadingProgress.toFixed(0) }}</p>-->
<!--</div>-->
<section>
  <div id="preloader"
          [ngClass]="{'loaded': loadingService.loadingProgress >= 100, 'loading': loadingService.loadingProgress < 100}"
  >
    <div id="ctn-preloader" class="ctn-preloader">
      <div class="animation-preloader">
        <div class="spinner"></div>
        <div class="txt-loading">
						<span data-text-preloader="L" class="letters-loading">
							L
						</span>

          <span data-text-preloader="O" class="letters-loading">
							O
						</span>

          <span data-text-preloader="A" class="letters-loading">
							A
						</span>

          <span data-text-preloader="D" class="letters-loading">
							D
						</span>

          <span data-text-preloader="I" class="letters-loading">
							I
						</span>

          <span data-text-preloader="N" class="letters-loading">
							N
						</span>

          <span data-text-preloader="G" class="letters-loading">
							G
						</span>
        </div>
      </div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>
  </div>
</section>
<div
        class="content"
        [ngClass]="{'loaded': loadingService.loadingProgress >= 100, 'loading': loadingService.loadingProgress < 100}">
  <app-all-site></app-all-site>
</div>
