h2 {
    font-weight: 500;
    font-size: 40rem;
    line-height: 48rem;
}
footer {
    padding-top: 109rem;
}
footer .flex{
    justify-content: space-between
}
.footer-header {
    width: 30%;
}
.footer-info {
    width: 60%;
}
.developer, .designer {
    margin-bottom: 180px;
}
.footer-info .footer-title,
.footer-info .contact {
    width: 40%;
}
.name {
    font-size: 24px;
    line-height: 29px;
}
.contact a {
    margin-bottom: 15rem;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    color: rgba(255, 255, 255, 0.9);
}
.copyright {
    padding: 30rem 0;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.08em;
    text-align: center;
}
@media (max-width: 650px) {
    .flex {
        flex-wrap: wrap;
    }
    .footer-header {
        width: 100%;
        margin-bottom: 60rem;
    }
    h3 {
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: -0.02em;
        text-transform: uppercase;
    }
    .name {
        font-weight: 400;
        font-size: 11px;
        line-height: 13px;
    }
    .footer-info {
        width: 100%;
    }
    .developer, .designer{
        width: 100%;
    }
    .contact a {
        font-weight: 300;
        font-size: 10px;
        line-height: 12px;
        text-decoration-line: underline;
        color: rgba(255, 255, 255, 0.9);
    }
    .copyright {
        font-weight: 200;
        font-size: 9px;
        line-height: 11px;
        text-align: center;
        letter-spacing: 0.08em;
        color: rgba(255, 255, 255, 0.8);
    }
}
