<footer>
  <div class="flex">
    <div class="footer-header">
      <div class="wave-text">
        <h3 class="line">The end</h3>
      </div>
      <div class="wave-text">
        <h2 class="line">Thank you for viewing my portfolio!</h2>
      </div>
    </div>
    <div class="footer-info">
      <div class="developer flex">
        <div class="footer-title">
          <div class="wave-text">
            <h3 class="line">Developer</h3>
          </div>
          <div class="move-text">
            <p class="name line">Olga Shytyleva</p>
          </div>
        </div>
        <div class="contact">
          <div class="wave-text">
            <h3 class="line">Contact</h3>
          </div>
          <div class="wave-text">
            <a class="line"
               href="mailto:shytuleva@gmail.com"
               (mouseenter)="onMouseEnter()"
               (mouseleave)="onMouseLeave()"
            >shytuleva@gmail.com</a>
          </div>
          <div class="wave-text">
            <a class="line"
               href="https://github.com/shytuleva24"
               (mouseenter)="onMouseEnter()"
               (mouseleave)="onMouseLeave()"
            >githab.com</a>
          </div>
          <div class="wave-text">
            <a class="line"
               href="https://www.linkedin.com/in/olga-shutyleva-440500253/"
               (mouseenter)="onMouseEnter()"
               (mouseleave)="onMouseLeave()"
            >Linkedin</a>
          </div>
          <div class="wave-text">
            <a class="line"
               href="https://t.me/olga_shutyleva"
               (mouseenter)="onMouseEnter()"
               (mouseleave)="onMouseLeave()"
            >Telegram</a>
          </div>
        </div>
      </div>
      <div class="designer flex">
        <div class="footer-title">
          <div class="wave-text">
            <h3 class="line">Designer</h3>
          </div>
          <div class="move-text">
            <p class="name line">Vladislav Kiyan</p>
          </div>
        </div>
        <div class="contact">
          <div class="wave-text">
            <h3 class="line">Contact</h3>
          </div>
          <div class="wave-text">
            <a class="line"
               href="mailto:vlakiyn@gmail.com"
               (mouseenter)="onMouseEnter()"
               (mouseleave)="onMouseLeave()"
            >vlakiyn@gmail.com</a>
          </div>
          <div class="wave-text">
            <a class="line"
               href="https://www.linkedin.com/in/%D0%B2%D0%BB%D0%B0%D0%B4%D0%B8%D1%81%D0%BB%D0%B0%D0%B2-%D0%BA%D0%B8%D1%8F%D0%BD-256382241/"
               (mouseenter)="onMouseEnter()"
               (mouseleave)="onMouseLeave()"
            >Linkedin</a>
          </div>
          <div class="wave-text">
            <a class="line"
               href="https://t.me/podorojn1c"
               (mouseenter)="onMouseEnter()"
               (mouseleave)="onMouseLeave()"
            >Telegram</a>
          </div>
          <div class="wave-text">
            <a class="line"
               href="https://www.instagram.com/lavasog/"
               (mouseenter)="onMouseEnter()"
               (mouseleave)="onMouseLeave()"
            >Instagram</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <p>© Olga-Shutyleva 2023</p>
  </div>
</footer>
