@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Playfair+Display+SC&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Inter', sans-serif;
    width: 100vw;
    /*line-height: 150%;*/
    /*!*min-height: 100vh;*!*/
    margin: 0;
    background: #000;
    overflow-x: hidden;
    color: white;
    position: relative;
    /*cursor: none;*/
}
.title {
    font-family: 'Playfair Display SC', serif;
    line-height: 150%;
    font-weight: 400;
}

html, body {
    font-size: 1px;
    scroll-behavior: smooth;
}
h3 {
    padding-bottom: 40rem;
    font-style: italic;
    font-weight: 500;
    font-size: 1.1vw;
    line-height: 24rem;
    text-transform: uppercase;
}
.container {
    padding: 0 70rem;
    position: relative;
    z-index: 1;
}
.flex {
    display: flex;
}
ul {
    list-style: none;
}
a {
    display: inline-block;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.wave-text {
    overflow: hidden;
}

img {
    width: 100%;
    vertical-align: bottom;
    height: 100%;
}

.line {
    display: inline-block;
    word-wrap: break-word;
    transform: translateY(2vw) rotate(1deg);
    opacity: 0;
    transition: opacity .5s ease-in-out, transform .5s ease-in-out;
}
.show-anim .line {
    transform: none;
    opacity: 1;
}
.show-anim.line {
    transform: none;
    opacity: 1;
}
/* Стили для скролл-бара */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: rgba(241, 241, 241, 0.5); /* Прозрачный фон */
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.8);; /* Белый ползунок */
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #eee; /* Цвет ползунка при наведении */
}
@keyframes bounce {
    0% { transform: scale(1); }
    50% { transform: scale(0.8); }
    100% { transform: scale(1); }
}

.circle {
    position: absolute;
    width: 70px;
    height: 70px;
    top: -35px;
    left: -35px;
    /*transform: translate(-50%, -50%);*/
    border-radius: 50%;
    backdrop-filter: invert(1) grayscale(1);
    z-index: 9999;
    pointer-events: none;
}

.link:hover .circle {
    animation: bounce 0.5s;
}

