@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Inter', sans-serif;
    width: 100%;
    /*min-height: 100vh;*/
    margin: 0;
    background: #000;
    overflow-x: hidden;
    color: white;
}
html, body {
    font-size: 1px;
}
h3 {
    padding-bottom: 40rem;
    font-style: italic;
    font-weight: 500;
    font-size: 20rem;
    line-height: 24rem;
    text-transform: uppercase;
}
.container {
    padding: 0 70rem;
}
.flex {
    display: flex;
}
ul {
    list-style: none;
}
/*#rendererContainer {*/
/*    position: relative;*/
/*}*/

/*canvas {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    z-index: 0;*/
/*    pointer-events: none;*/
/*}*/

