.container {
    padding: 30rem;
    height: 100%;
}


.title-home {
    position: relative;
    padding: 0 20px;
}
.title {
    font-weight: 400;
    font-size: 14.8vw;
    line-height: 100%;
    text-transform: uppercase;
    color: white;
    text-shadow: 3px 5px 9px rgba(0, 0, 0, 0.2);
    text-wrap: none;
}
@media (max-width: 1148px) {
    h1 {
        font-size: 10vw;
    }
}

.about-me {
    max-width: 45%;
    position: absolute;
    top: 45%;
    left: 62%;
    font-weight: 500;
    font-size: 1.3vw;
    line-height: 120%;
    letter-spacing: -0.04em;
    text-shadow: 3px 5px 9px rgba(0, 0, 0, 0.2)
}
.wave-text-home {
    overflow: hidden;
}

.line-home {
    display: block;
}






