.container {
    padding: 1.4vw 2.7vw;
}


.title-home {
    position: relative;
    padding: 8rem;
}
.title {
    font-weight: 400;
    font-size: 14.8vw;
    line-height: 87.7%;
    text-transform: uppercase;
    color: white;
    text-shadow: 3px 5px 9px rgba(0, 0, 0, 0.2);
    letter-spacing: -5.1rem;
    text-wrap: none;
}
.about-me {
    max-width: 45%;
    position: absolute;
    top: 43%;
    left: 54.7%;
    font-weight: 500;
    font-size: 1.7vw;
    line-height: 128.3%;
    letter-spacing: -0.04em;
    text-shadow: 3px 5px 9px rgba(0, 0, 0, 0.2);
    text-transform: none;
}
@media (max-width: 650px) {
    .container {
        padding: 1.4vw 30rem;
    }
    .title-home {
        padding-top: 93rem;
    }
    .about-me {
        padding-top: 30rem;
        max-width: 100%;
        position: static;
        font-weight: 300;
        font-size: 3vw;
        line-height: 109%;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        text-transform: uppercase;
    }
}


.wave-text-home {
    overflow: hidden;
}

.line-home {
    display: block;
}






